/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=ba6eda06-0d1d-4e42-ba12-647e0e958a1e&fontids=1489424");
@font-face{
    font-family:"Helvetica Neue LT W05_45 Light";
    src:url("../fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"),url("../fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_65 Medium";
    src:url("../fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"),url("../fonts/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff");
}
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-family: "Helvetica Neue LT W05_45 Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.05rem;
    font-weight: 400;
    position: relative;
    width: 100%;
    height: 100%;
}

::-moz-selection {
    background: #f2f2f2;
    text-shadow: none;
}

::selection {
    background: #f2f2f2;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body.background-image {
    background: url(../img/BGL.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}
body.restaurant {
    background: url(../img/bgR.jpg) no-repeat center center fixed; 
}

h1 {
    font-family: "Helvetica Neue LT W05_65 Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9rem;
    font-weight: 300;
    line-height: 9rem;
    margin: 0;
}

h2 {
    font-family: "Helvetica Neue LT W05_65 Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin: 0;
}

p {
    font-weight: 300;
    line-height: 1.5rem;
}

a {
    font-family: "Helvetica Neue LT W05_65 Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    display: block;
}

a.button {
    color: black !important;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffaf8a;
    padding: 8px 16px;
    border: 1px solid black !important;
    display: inline-block;
    margin-top: 20px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

a.button:hover {
    color: #000000 !important;
    background: #ffffff;
    border-color: #ffffff !important;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.main-navigation {
    max-width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.main-navigation .main-navigation--left, .main-navigation .main-navigation--right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
}

.main-navigation .main-navigation--right{
    -ms-flex-direction: row;
    flex-direction: row;
}

.main-navigation .main-navigation--left {
    flex-grow: 1;
}
.main-navigation--left {
    padding-left:24pt;
    float:left;
}
.main-navigation--right {
    float:left;
}

.main-navigation a {
    margin-right: 1rem;    
}

.main-navigation a.text-link {
    line-height: 2rem;
}

.main-navigation a.social-link {
    margin-right: 0;
    margin-left: 1rem;
    width: 1.5rem;
}

.logo {
    z-index: 10;
    background-color: rgba(255,0,0,0.4);
}

.logoT {
    z-index: 10;
    background-color: rgba(80,00,20,0.9);
}

.awards-footer {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.hours-footer {
    position: fixed;
    bottom: 5%;
    left: 5%;
}
.awards-footer img{
    height: 60px;
}

.main-content {    
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 90%;
}

.main-content__text-block--full {
    text-align: center;
    width:100%;
    margin: 0 auto;
    padding: 0px;
    font-size:1rem;
    line-height:1.4rem;
    color:black;
}

.spacer {
    padding:3%;
}

.quote {
    background-color: rgba(255,255,255,0.7);
    padding-top:2%;
    padding-left:10%;
    padding-bottom:2%;
    font-size:1.4rem;
}
.quote::before {
  content: "\201C"; /* Left double quotation mark */
}
.quote::after {
  content: "\201D"; /* Right double quotation mark */
}

.main-content__text-block p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: revert;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .main-navigation {
        max-width: 90%;
    }
    .main-navigation .main-navigation--left, .main-navigation .main-navigation--right{
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 2rem;
    }
    .main-navigation a.logo {
        width: 150px;
        margin-right: 2rem;
    }

    .awards-footer img {
        height: 80px;
    }

    .main-navigation a {
        margin-right: 2rem;    
    }
        
    .main-navigation a.social-link {
        width: 2rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
    .main-navigation {
        max-width: 90%;
    }
    .main-content__text-block {
        max-width: 50%;
    }
    .main-content__text-block p {
        line-height: 1.5rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
    .main-navigation {
        max-width: 80%;
    }
    .awards-footer {
        right: 10%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}